<section class="content-header">
	<h1>
		Dashboard
		<small>Principal</small>
	</h1>
	<ol class="breadcrumb">
		<li><a routerLink="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li class="active">Dashboard</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-lg-6 col-md-12 col-xs-12">
			<app-chart-trips-months [data]="dataTrips"></app-chart-trips-months>
		</div>
		<div class="col-lg-6 col-md-12 col-xs-12" >
			<app-chart-trips-status [data]="dataStatus"></app-chart-trips-status>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-12 col-xs-12">
			<app-chart-top-users [label]="labelsUser" [data]="dataUser"></app-chart-top-users>
		</div>
	</div>
</section>