<section class="content-header">
	<h1>
		Dashboard
		<small>Principal</small>
	</h1>
	<ol class="breadcrumb">
		<li><a routerLink="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li class="active">Dashboard</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-lg-6 col-md-12 col-xs-12">
			<p-chart type="bar" [data]="dataTrips" [options]="optionsTrips"></p-chart>
		</div>
		<div class="col-lg-6 col-md-12 col-xs-12" >
			<p-chart type="pie" [data]="dataStatus" [options]="optionsStatus"></p-chart>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-12 col-xs-12">
			<p-chart type="line" [data]="dataEmployees" [options]="optionsEmployees"></p-chart>
		</div>
	</div>
</section>