<section class="content-header">
	<h1>
		<i class="fa fa-plane"></i> Detalle del Viaje
	</h1>
	<ol class="breadcrumb">
		<li><a routerLink="/"><i class="fa fa-plane"></i> Inicio</a></li>
		<li><a routerLink="/travel-list">Viajes</a></li>
		<li class="active">Detalle</li>
	</ol>
</section>
<section class="content">
	<div class="col-md-12">
		<div class="box box-success">
			<div class="box-header with-border">
              <h3 class="box-title">Viaje</h3>
            </div>
            <div class="box-body">
            	<div class="col-sm-12">
        			<label class="col-sm-2 control-label text-muted">Empleado:</label>
		       		<div class="col-sm-4">
		       			<label >{{trip.employee.firtsName}} {{trip.employee.lastName}}</label>
		       		</div>
            	</div>
            	<div class="col-sm-12">
        			<label class="col-sm-2 control-label text-muted">Email:</label>
		       		<div class="col-sm-4">
		       			<label >{{trip.employee.email}}</label>
		       		</div>
            	</div>
            	<div class="col-sm-12">
        			<label class="col-sm-2 control-label text-muted">Destino:</label>
		       		<div class="col-sm-4">
		       			<label >{{trip.destiny}}</label>
		       		</div>
            	</div>
            	<div class="col-sm-12">
        			<label class="col-sm-2 control-label text-muted">Presupuesto:</label>
		       		<div class="col-sm-4">
		       			<label >{{trip.budget}}</label>
		       		</div>
            	</div>
            	<div class="col-sm-12">
            			<label class="col-sm-2 control-label text-muted">Fecha de salida:</label>
			       		<div class="col-sm-4">
			       			<label >{{trip.startDate | date}}</label>
			       		</div>
			       		<label class="col-sm-2 control-label text-muted">Fecha de llegada:</label>
			       		<div class="col-sm-4">
			       			<label >{{trip.endDate | date}}</label>
			       		</div>
            	</div>
            	<div class="col-sm-12">
	            	<hr>
	            </div>
	            <p-tabView>
	            		<p-tabPanel header="Lista de gastos" [selected]="true">
	            			<p-dataTable [value]="trip.expenses" [rows]="20" [paginator]="true" sortMode="multiple" [totalRecords]="totalRecords">
		            			<p-headerColumnGroup>
		            				<p-row>
							            <p-column header="NIT" [sortable]="true" ></p-column>
							            <p-column header="Categoría" [sortable]="true"></p-column>
							            <p-column header="Fecha" [sortable]="true"></p-column>
							            <p-column header="Descripción" [sortable]="true"></p-column>
							            <p-column header="Valor" [sortable]="true"></p-column>
							            <p-column header="Aprobar"></p-column>
							        </p-row>
		            			</p-headerColumnGroup>
		            			<p-column field="nit" ></p-column>
							    <p-column field="category.name"></p-column>
							    <p-column field="date" >
							    	<ng-template let-dat let-item="rowData" pTemplate="body">
							            <span >{{item[dat.field] | date:'medium'}}</span>
							        </ng-template>					    	
							    </p-column>
							    <p-column field="description" >					    	
							    </p-column>
							    <p-column field="value" >					    	
							    </p-column>
							    <p-column field="approved">
							    	<ng-template let-dat let-item="rowData" pTemplate="body">
							            <p-triStateCheckbox [(ngModel)]="item[dat.field]" (click)="onChangeItem(item)"></p-triStateCheckbox> - {{item[dat.field] | approveexp}}
							        </ng-template>
							    </p-column>
							    
							</p-dataTable>
	            		</p-tabPanel>
	            	</p-tabView>
            </div>
        </div>
    </div>
</section>
