<ul class="sidebar-menu">
	<li class="header">MENÚ</li>
	<li class="treeview" routerLinkActive="active">
	  <a routerLink="/">
	    <i class="fa fa-dashboard"></i> <span>Inicio</span>
	  </a>
	</li>
	<li class="treeview" routerLinkActive="active">
	  <a routerLink="/travel-create">
	    <i class="fa fa-plane"></i> <span>Nuevo Viaje</span>
	  </a>
	</li>
	<li class="treeview" routerLinkActive="active">
	  <a routerLink="/travel-list">
	    <i class="fa fa-tasks"></i> <span>Viajes</span>
	  </a>
	</li>
	<li class="treeview" routerLinkActive="active">
	  <a routerLink="/employee-list">
	    <i class="fa fa-users"></i> <span>Empleados</span>
	  </a>
	</li>
</ul>