<section class="content-header">
	<h1>
		<i class="fa fa-tasks"></i> LIstado de viajes
	</h1>
	<ol class="breadcrumb">
		<li><a routerLink="/"><i class="fa fa-tasks"></i> Inicio</a></li>
		<li><a routerLink="/travel-list">Viajes</a></li>
		<li class="active">listado</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="navbar-right btn-group top-options-nav">
			<button type="button" class="btn btn-sm btn-default"><i class="fa fa-bars"></i></button>
			<button type="button" class="btn btn-sm btn-success" routerLink="/travel-create"><i class="fa fa-plus"></i> Nuevo</button>
			<button type="button" class="btn btn-sm btn-success" (click)="showDialogToAdd()"><i class="fa fa-file-excel-o"></i> Reporte</button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
	              <h3 class="box-title">Viajes</h3>
	            </div>
	            <div class="box-body">
	            	<p-dataTable [value]="travels" [rows]="10" [paginator]="true" sortMode="multiple" [globalFilter]="gb" #dt exportFilename="Viajes" selectionMode="single" [(selection)]="tripSelected" (onRowSelect)="onRowSelect($event)" dataKey="tripId">
	            		<p-header>
					        <div class="ui-helper-clearfix">
					        	<button type="button"  (click)="dt.exportCSV()" style="float:right" class="btn btn-sm btn-success"><i class="fa fa-download"></i></button>
					        	<div style="float: right" class="col-xs-3">
					        		<div class="input-group input-group-sm">
									  <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search"></i></span>
									  <input #gb type="text" class="form-control" pInputText size="50" placeholder="Buscar..." aria-describedby="sizing-addon2">
									</div>
					        	</div>
					        </div>
					    </p-header>

					    <p-column field="employee.firstName" header="Nombre Empleado" [sortable]="true"></p-column>
					    <p-column field="destiny" header="Destino" [sortable]="true"></p-column>
					    <p-column field="budget" header="Saldo" [sortable]="true"></p-column>
					    <p-column field="startDate" header=" Fecha Salida" [sortable]="true">
					    	<ng-template let-dat let-item="rowData" pTemplate="body">
					            <span >{{item[dat.field] | date:'medium'}}</span>
					        </ng-template>
					    </p-column>
					    <p-column field="endDate" header="Fecha Llegada" [sortable]="true">
					    	<ng-template let-dat let-item="rowData" pTemplate="body">
					            <span >{{item[dat.field] | date:'medium'}}</span>
					        </ng-template>
					    </p-column>
					    <p-column field="status.name" header="Estado" [sortable]="true"></p-column>
					    
					</p-dataTable>
	            </div>
	        </div>
	        <p-dialog header="Reporte de viajes por fechas" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
			    <div class="ui-grid ui-grid-responsive ui-fluid">
			        <div>
			            <div class="col-md-12"><label for="skulist" class="control-label">Rango de fechas</label></div>
			            <form class="form-horizontal" #reportForm="ngForm" method="post">
				            <div class="col-md-12">
				            	<div class="form-group">
				                	<label for="inputCompany" class="col-sm-2 control-label">Inicial</label>
				                	<div class="col-sm-3">
					                    <p-calendar [(ngModel)]="start" [showIcon]="true" name="startDate" #startDate="ngModel"></p-calendar>
					                </div>
					                <label for="inputCompany" class="col-sm-2 control-label">Final</label>
				                	<div class="col-sm-3">
					                    <p-calendar [(ngModel)]="end" [showIcon]="true" name="endDate" #endDate="ngModel"></p-calendar>
					                </div>
				                </div>
				            </div>
				            <div class="col-md-12">
				                <div class="form-group">
				                	<label for="inputEmail" class="col-sm-2 control-label">Nombre archivo:</label>
				                	<div class="col-sm-6">
					                    <input type="text" class="form-control" id="inputBudget" placeholder="Digite el nombre del reporte" [(ngModel)]="nameFile" name="nFile" #nFile="ngModel">
					                </div>
				                </div>
				            </div>
			        	</form>
			        </div>
			    </div>
			    <p-footer>
			        <div class="ui-dialog-buttonpane ui-helper-clearfix">			            
			            <button type="button" pButton icon="fa-check" (click)="downloadFile()" label="Descargar"></button>
			        </div>
			    </p-footer>
			</p-dialog>
	    </div>
	</div>

</section>